<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/App.css">
</head>
<nav>
    <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="Feature.html">Features</a></li>
        <li><a href="Contact.html">Contact</a></li>
        <li><a href="Chatbot.html">Chatbot</a></li>
        <li><a href="About.html">About</a></li>
    </ul>
    <div id ="Login1" >
        <div id="Login"><a href="Login.html"> Login </a>
        </div> </div>
</nav>
    <section id="about">
        <h1 style="color:#007BFF;">Your Smart Healthcare Ally</h1>
    <p>
        Our intelligent healthcare solution brings personalized care to your fingertips
        combining the power of AI with real-time insights to support your well-being every day.
    <p>
        From symptom analysis and early diagnosis support to tailored wellness recommendations, 
        our platform helps you stay proactive, not reactive. It’s like having a medical team and 
        lifestyle guide, all in one place.
    </p>
    <p>
        With intuitive design and data-driven precision, we enable better healthcare decisions and
        preventive care because your health deserves nothing less.
        <br><strong>Empower your health journey with innovation.</strong>
    </p>
    </section>
    <div class="about-grid">
        <img src="Images/Ai_about.jpg">
        <img src="Images/Ai-about-2.jpg">
        <img src="Images/Ai-about-1.jpg">
    </div>

    <footer>
        <p>&copy; 2025 Health Monitor. All rights reserved.</p>
    </footer>
</body>
</html>